.form {
  width: 80%;
  margin: 15px auto 0;
  padding:15px;
  border: 1px solid lightblue;
}
 .validacion{
   width: 80%;
   color:red;
   margin:0 auto;
   text-align: center;
 }

 .listaTareas{
   width: 80%;
   margin:50px auto 0;
  
 }

 .tarea{
   font-size: 20px;
   margin:20px 0 15px 0;
   padding: 15px;
   display:grid;
   grid-template-columns: 4fr 1fr 1fr;
   cursor: pointer;
   border: 1px solid lightblue;
 }




